.container-pokemon-details {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  display: flex;
  flex-direction: column;
  font-family: VT323 , monospace;
  margin-top: 50px;
  padding: 20px;
}

.title-pokemon-details {
  font-family: VT323 , monospace;
  font-size: 50px;
  margin-top: 10px;
}

.title-pokemon-details:first-letter {
  text-transform: uppercase;
}

.img-details {
  margin-top: 10px;
  max-width: 500px;
  width: 50%;
}

.btn-back {
  background-color: #272b68f5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  color: white;
  cursor: pointer;
  font-family: VT323 , monospace;
  font-size: large;
  font-weight: 600;
  margin-top: 20px;
  outline: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn-back:hover {
  background-color: yellow;
  color: black;
}

.nav-pokemon-details {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btn-next-back {
  background-color: #ffc107;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  color: black;
  cursor: pointer;
  font-family: VT323 , monospace;
  font-size: large;
  font-weight: 600;
  margin-top: 20px;
  outline: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.loading {
  font-size: 30px;
  margin-top: 50px;
}

.pokemon-infos-details-container {
  align-items: center;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  width: 100%;
}

.pokemons-other-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 20%;
}

.pokemons-other-details p {
  background-color: #cfcfcf6b;
  border-radius: 5px;
  box-shadow: 2px 2px #aaa;
  display: inline-block;
  font-size: 24px;
  margin: 5px 10px;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.stats-pokemons {
  display: flex;
  flex-direction: column;
}


.stats-pokemons-details {
  border-radius: 5px;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  text-align: left;
  width: 200px;
}


.stats-pokemons-details p {
  margin: 0;
}

.stats-pokemons-details .bar {
  background-color: rgba(43, 43, 43, 0.493);
  border: dotted 1px red;
  height: 5%;
  transition: width 0.5s;
  width: 0;
}

.checkbox-container {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.shiny-version {
  font-size: 24px;
  margin-right: 10px;
}

.shiny-checkbox {
  appearance: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 0;
  outline: none;
  position: relative;
  transition: all 0.3s;
  width: 20px;
}

.shiny-checkbox:checked {
  background-color: red;
  border: 1px solid black;
  border-radius: 50px;
}

.shiny-checkbox:checked:after {
  background-color: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
}


@media ( max-width : 750px ) {

  .pokemon-infos-details-container {
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
  }

  .pokemons-other-details {
    display: flex;
    flex-direction: wrap;
    width: 100%;
  }

  .btn-back {
    margin: 20px 10px 0;
  }

}
