.container-pokemon-details {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  display: flex;
  flex-direction: column;
  font-family: VT323 , monospace;
}

.title-pokemon-details {
  font-family: VT323 , monospace;
  font-size: 50px;
}

.title-pokemon-details:first-letter {
  text-transform: uppercase;
}

.loading {
  font-size: 30px;
  margin-top: 50px;
}

