.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.div-logo-pokemon {
  justify-content: center;
  position: relative;
  text-align: center;
}

.logo-pokemon {
  animation: logoMovement 3s infinite;
  height: auto;
  margin: 0;
  width: 80%;
}


@keyframes logoMovement {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }

  0% {
    transform: translateX(0);
  }
}

.logo-pokemon:hover {
  animation: logoMovement 1s infinite;
}

.audio-controls {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.btn-audio-control {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

.volume-control {
  appearance: none;
  background-color: #ddd;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100px;
}

.volume-control::-webkit-slider-thumb {
  appearance: none;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #333;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.volume-control::-moz-range-thumb {
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #333;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.div-vazia {
  width: 10%;
}


@media ( max-width : 767px ) {

  .header-container {
    align-items: center;
    flex-direction: column;
  }
}
