.img-details {
  height: 400px;
  width: 400px;
}

.img-details:hover {
  filter: brightness(1.15);
  transition: all 0.5s ease;
}

@media ( max-width : 850px ) {

  .img-details {
    height: 50%;
    margin-top: 10px;
    max-width: 500px;
    width: 200px;
  }

}
