.pokemon-infos-stats-container {
  align-items: center;
  display: flex;
  flex-direction: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.pokemon-info-stats {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 15%;
}

.type-pokemon-details {
  background-color: #cfcfcf57;
  border-radius: 5px;
  display: flex;
  filter: brightness(1.15);
  font-size: 24px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 90%;
}

.pokemon-info-stats p {
  background-color: #cfcfcf57;
  border-radius: 5px;
  display: inline-block;
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.pokemon-info-stats p:hover {
  filter: brightness(1.15);
  transition: all 0.5s ease;
}

@media ( max-width : 850px ) {

  .pokemon-infos-details-container {
    align-items: center;
    flex-direction: column;
  }

  .pokemon-info-stats {
    display: flex;
    flex-direction: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
  }

}
