.div-sprites img {
  height: 80px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
  width: 80px;
}

.div-sprites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.div-sprites img:hover {
  filter: brightness(1.15);
  transform: scale(2);
}
