.card-a {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
  padding: 0;
  width: 30%;
}

.pokemon-card-grid {
  align-content: center;
  align-items: center;
  background-color: rgba(224, 224, 224, 0.425);
  border: 1px solid rgba(44, 27, 196, 0.411);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.pokemon-card-grid:hover {
  filter: brightness(1.15);
  transition: 0.1s;
}

.pokemon-image-grid {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
  width: 30%;
}

.pokemon-title-grid {
  display: flex;
  flex-direction: wrap;
  height: 20%;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.pokemon-name-card {
  color: #333;
  font-family: VT323 , monospace;
  font-size: 26px;
  margin: 0;
  text-align: center;
}

.pokemon-name-card:first-letter {
  text-transform: uppercase;
}

.pokemon-id-card {
  color: #777;
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.pokemon-types-grid {
  align-items: center;
  display: flex;
  height: 30%;
  justify-content: center;
  width: 100%;
}

.pokemon-type-text {
  background-color: rgba(255, 255, 255, 0.425);
  border: 1px solid rgba(44, 27, 196, 0.411);
  border-radius: 5px;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
  text-align: center;
}


@media ( max-width : 1000px ) {

  .card-a {
    width: 45%;
  }
}


@media ( max-width : 620px ) {

  .card-a {
    width: 90%;
  }
}
