:root {

  --bar-height: 10px;

  --bar-border-radius: 5px;
}

.stats-pokemons {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 15%;
}


.stats-pokemons-details {
  border-radius: 5px;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  text-align: left;
  width: 200px;
}

.bar[ value = 'hp' ] {
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: var(--bar-border-radius);
  height: var(--bar-height);
  transition: width 0.5s;
}

.bar[ value = 'attack' ] {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: var(--bar-border-radius);
  height: var(--bar-height);
  transition: width 0.5s;
}

.bar[ value = 'defense' ] {
  background-color: rgba(0, 128, 0, 0.5);
  border-radius: var(--bar-border-radius);
  height: var(--bar-height);
  transition: width 0.5s;
}

.bar[ value = 'special-attack' ] {
  background-color: rgba(255, 255, 0, 0.5);
  border-radius: var(--bar-border-radius);
  height: var(--bar-height);
  transition: width 0.5s;
}

.bar[ value = 'special-defense' ] {
  background-color: rgba(255, 165, 0, 0.5);
  border-radius: var(--bar-border-radius);
  height: var(--bar-height);
  transition: width 0.5s;
}

.bar[ value = 'speed' ] {
  background-color: rgba(128, 0, 128, 0.5);
  border-radius: var(--bar-border-radius);
  height: var(--bar-height);
  transition: width 0.5s;
}

@media ( max-width : 850px ) {

  .stats-pokemons {
    width: 50%;
  }

}

.option-type[ value = 'normal' ] {
  background-color: rgb(168, 168, 120, 0.5);
}
