.container-pokemon-details {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
}

.title-pokemon-details {
  font-size: 40px;
  margin-top: 10px;
}

.img-details {
  margin-top: 10px;
  max-width: 500px;
  width: 50%;
}

.btn-back {
  background-color: #272b68f5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn-back:hover {
  background-color: yellow;
  color: black;
}

.loading {
  font-size: 30px;
  margin-top: 50px;
}

.pokemons-other-details {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: wrap;
  height: 80px;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.pokemons-other-details p {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px #aaa;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  margin: 5px 10px;
  padding: 10px;
  text-align: center;
  width: 30%;
}

.stats-pokemons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-pokemons h2 {
  margin-bottom: 20px;
}

.stats-pokemons-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.stats-pokemons-details p {
  margin: 0;
}

.stats-pokemons-details .bar {
  background-color: rgba(128, 128, 128, 0.5);
  height: 10%;
  transition: width 0.5s;
  width: 0;
}
