.title-pokemon-details {
  font-family: VT323 , monospace;
  font-size: 50px;
}

.title-pokemon-details:first-letter {
  text-transform: uppercase;
}

@media ( max-width : 850px ) {

  .title-pokemon-details {
    font-size: 40px;
  }
}

@media ( max-width : 650px ) {

  .title-pokemon-details {
    font-size: 35px;
  }
}
